#Langchain core
langchain 
langchain-core

#OpenAI Integrations
langchain-anthropic

#Google Gemini (PaLM) Integrations
langchain-google-genai
google - generativeai

#Hugging Face Integrations
langchain - hussingface
transformers
huggingface-hub

#Enviroment variable management
python-dotenv

#Machine Learning utilities
numpy
scikit-Learn


